
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <form method="POST" action="/resetPassword" id="container">   
        <div class="container align-form">
            <div class="col-sm-5">
              <div class="row">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="email" value="<%=user1.email%>" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
              </div>
      
              <div class="row">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">change password</button>
                </div>
              </div>
            </div>
          </div>
    </form>
    <script type="text/javascript" src="flash/flash-client.js"></script>
</body>
